@font-face {
    font-family: "KoPubWorld";
    src: url("../font/KoPubWorld.ttf") format("truetype");
}

@font-face {
    font-family: "KoPubBold";
    src: url("../font/KoPubBold.ttf") format("truetype");
}

@font-face {
    font-family: "BMDOHYEON";
    src: url("../font/BMDOHYEON.ttf") format("truetype");
}

header {
    margin-top: -100px;
    margin-left: 20px;
    font-family: BMDOHYEON, sans-serif;
    font-size: 30px;
    font-style: italic;
}

h3 > a {
    clear: both;
    text-decoration: none;
    color: #1b8fe0;
}

.language {
    margin-top: -75px;
    margin-right: 100px;
    float: right;
    display: inline-block;
}

body {
    background-color: white;
    padding-top: 85px;
    text-decoration: none;
    font-family: KoPubWorld, sans-serif;
    height: 100%;
}

* {
    box-sizing: border-box;
}

br {
    line-height: 30px;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
 }

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: black;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.cbx span:last-child {
    padding-left: 8px;
}
.cbx:hover span:first-child {
    border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

.column1 > p, .column2 > p, .column3 > p {
    font-family: KoPubBold, sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
}

.column1 {
    float: left;
    width:30%;
    box-sizing: border-box;
}

.column2 {
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.column3 {
    float: right;
    width:30%;
    box-sizing: border-box;
}

.permissions {
    width: 90%;
    margin: -20px auto 10px;
}

.permissions > div {
    margin-top: 0;
}

.permissions > p {
    margin-top: 30px;
    line-height: 0;
}

.mandatory {
    color: blue;
}

.recommend {
    color: green;
}

.button {
    font-family: KoPubBold, sans-serif;
    clear: left;
    align-items: center;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}