@font-face {
    font-family: "KoPubWorld";
    src: url("../font/KoPubWorld.ttf") format("truetype");
}

@font-face {
    font-family: "KoPubBold";
    src: url("../font/KoPubBold.ttf") format("truetype");
}

.success-body {
    text-align: center;
    font-size: 40px;
    font-family: KoPubBold, sans-serif;
    margin-bottom: 7%;
}

.logos {
    text-align: center;
    margin: 0 auto;
    font-family: KoPubBold, sans-serif;
    font-size: 130%;
}