@font-face {
    font-family: "BMDOHYEON";
    src: url("../font/BMDOHYEON.ttf") format("truetype");
}

@font-face {
    font-family: "KoPubBold";
    src: url("../font/KoPubBold.ttf") format("truetype");
}

header {
    margin-top: -7px;
    margin-left: 20px;
    font-family: BMDOHYEON, sans-serif;
    font-size: 30px;
    font-style: italic;
}

h3 > a {
    clear: both;
    text-decoration: none;
    color: #1b8fe0;
}

.success-body {
    text-align: center;
    font-size: 40px;
    font-family: KoPubBold, sans-serif;
    margin-bottom: 7%;
}

.logos {
    text-align: center;
    margin: 0 auto;
    font-family: KoPubBold, sans-serif;
    font-size: 130%;
}